.errorlist {
    font-size: small;
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background: #0c0d1849;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .sidebar {
        background: #0c0d1849;
        box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 100px 0px;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    body {
        background-color: black;
        background-image: radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 5px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 5px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 5px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 5px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
        animation: animateBackground 120s linear infinite;
    }
}

@media (prefers-color-scheme: light) {
    .navbar {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .sidebar {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    body {
        background-color: white;
        background-image: radial-gradient(blue, rgba(255, 255, 255, 0.1) 2px, transparent 50px), radial-gradient(blue, rgba(255, 255, 255, 0.15) 1px, transparent 50px), radial-gradient(blue, rgba(255, 255, 255, 0.1) 2px, transparent 50px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 50px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
        animation: animateBackground 120s linear infinite;
    }
}

@keyframes animateBackground {
    0% {
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    }
    100% {
        background-position: -500px -500px, -300px -300px, -250px -250px, -150px -150px;
    }
}
