@tailwind base;
@tailwind components;
@tailwind utilities;

/* sarabun-thin - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 100;
    src: url('../font/Sarabun/Sarabun-Thin.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-thin-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 100;
    src: url('../font/Sarabun/Sarabun-ThinItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-extralight - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 200;
    src: url('../font/Sarabun/Sarabun-ExtraLight.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-extralight-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 200;
    src: url('../font/Sarabun/Sarabun-ExtraLightItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-light - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 300;
    src: url('../font/Sarabun/Sarabun-Light.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-light-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 300;
    src: url('../font/Sarabun/Sarabun-LightItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-regular - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Sarabun/Sarabun-Regular.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 400;
    src: url('../font/Sarabun/Sarabun-Italic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-medium - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 500;
    src: url('../font/Sarabun/Sarabun-Medium.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-medium-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 500;
    src: url('../font/Sarabun/Sarabun-MediumItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-semibold - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 600;
    src: url('../font/Sarabun/Sarabun-SemiBold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-semibold-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 600;
    src: url('../font/Sarabun/Sarabun-SemiBoldItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-bold - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 700;
    src: url('../font/Sarabun/Sarabun-Bold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-bold-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 700;
    src: url('../font/Sarabun/Sarabun-BoldItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-extrabold - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 800;
    src: url('../font/Sarabun/Sarabun-ExtraBold.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

/* sarabun-extrabold-italic - latin_ext_thai */
@font-face {
    font-family: 'Sarabun';
    font-style: italic;
    font-weight: 800;
    src: url('../font/Sarabun/Sarabun-ExtraBoldItalic.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0100-017F, U+0E00-0E7F;
}

body {
    @apply bg-white dark:bg-black text-brown-950 dark:text-white;
    font-family: 'Sarabun', 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.errorlist {
    font-size: small;
    color: red;
    margin-left: 10px;
    margin-top: 5px;
}