{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
</head>
<body class="flex flex-col min-h-full bg-gray-100 font-roboto text-gray-900 dark:bg-black">
<main class="">
    {% block main %}
    {% endblock %}
</main>
</body>
</html>