{% extends 'base.html' %}
{% load custom_translations %}
{% block title %}
    Dynamic Calendar
{% endblock %}

{% block content %}
    <div class="m-3 dark:bg-black2 sm:px-6 sm:py-4 md:px-12 md:py-8 my-12 container mx-auto shadow-lg rounded-lg border dark:border-gray2">
        <div class="container mx-auto p-4 flex flex-col">
            <!-- Header -->
            <div class="flex justify-between items-center mb-4">
                <h1 id="monthYear" class="text-2xl font-bold dark:text-brown-50">January 2022</h1>
                <div class="flex place-items-center gap-x-4 font-bold">
                    <button id="todayBtn"
                            class="bg-brown-700 hover:bg-brown-800 active:bg-brown-900 px-3 py-2 rounded-lg text-white">
                        วันนี้
                    </button>
                </div>
            </div>

            <!-- Calendar -->
            <div class="grid grid-cols-7 gap-2 text-center text-sm font-medium text-brown-800 dark:text-brown-100">
                <!-- วันในสัปดาห์ -->
                <div>อาทิตย์</div>
                <div>จันทร์</div>
                <div>อังคาร</div>
                <div>พุธ</div>
                <div>พฤหัส</div>
                <div>ศุกร์</div>
                <div>เสาร์</div>
            </div>

            <!-- กล่องวันที่ของปฏิทิน -->
            <div id="calendar-days" class="grid grid-cols-7 gap-2 mt-2 text-lg">
                <!-- วันที่ต่างๆ จะถูกสร้างด้วย JavaScript -->
            </div>

            <div class="flex place-items-center gap-x-4 self-end mt-4">
                <button id="prevMonthBtn"
                        class="bg-brown-700 hover:bg-brown-800 active:bg-brown-900 rounded-full size-10 text-white text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 m-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
                    </svg>
                </button>
                <button id="nextMonthBtn"
                        class="bg-brown-700 hover:bg-brown-800 active:bg-brown-900 rounded-full size-10 text-white text-xl">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6 m-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div id="eventContainer"
         class="m-3 dark:bg-black2 px-12 py-8 my-12 container mx-auto p-4 shadow-lg rounded-lg mt-4 border dark:border-gray2">
        <!-- ตารางข้อมูลกิจกรรม -->
        <div id="eventDetails">
            <h2 class="text-xl font-bold mb-4 flex justify-between items-center">
                <div>
                    กิจกรรม<p id="selectedDate"></p>
                </div>
                <button id="addEventModalBtn" class="hidden sm:block bg-brown-800 text-white px-4 py-2 rounded-lg">
                    เพิ่มกิจกรรม
                </button>
            </h2>

            <!-- ตารางแสดงข้อมูล Calendar -->
            <div class="relative overflow-x-auto shadow-sm sm:rounded-lg">
                <table class="w-full font-light text-lg text-left rtl:text-right">
                    <thead class="text-base font-bold text-white bg-brown-400">
                    <tr>
                        <th class="px-4 py-2 border-0">เวลา</th>
                        <th class="px-4 py-2 border-0">ชื่อ กิจกรรม</th>
                        <th class="px-4 py-2 border-0">รายระเอียด</th>
                        <th class="px-4 py-2 border-0">คนสร้าง</th>
                        <th class="px-4 py-2 border-0">การกระทำ</th>
                        <th class="px-4 py-2 border-0">อ่าน</th>
                    </tr>
                    </thead>
                    <tbody id="eventTableBody" class="">
                    <!-- Generate By JavaScript -->
                    </tbody>
                </table>
            </div>

            <button id="addEventModalBtn2" class="block sm:hidden mt-2 bg-brown-800 text-white px-4 py-2 rounded">
                เพิ่มกิจกรรม
            </button>
        </div>
    </div>

    <!-- Modal สำหรับเพิ่มกิจกรรม -->
    <div id="eventModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center z-10">
        <div class="w-full">
            <div id="eventModalContent"
                 class="transition-all -translate-y-full opacity-0 duration-700 bg-white p-6 rounded-lg sm:mx-12 md:mx-48 lg:mx-56 xl:mx-96">
                <div class="text-xl font-bold mb-2 text-brown-700">
                    เพิ่ม กิจกรรม<p id="selectedModalDate"></p>
                </div>
                <form id="eventForm" class="text-black" onsubmit="event.preventDefault(); add_event(); this.reset();">
                    {% csrf_token %}

                    <input type="hidden" name="noti_date" id="notiDateInput" value=""/>

                    {#              {{ form.non_field_errors|translate_error }}#}
                    <div class="mb-1">
                        <label for="{{ form.name.id_for_label }}" class="text-sm font-medium">ชื่อกิจกรรม</label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="text-red-500 text-sm">{{ form.name.errors|translate_error }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-1">
                        <label for="{{ form.description.id_for_label }}" class="text-sm font-medium">รายระเอียด</label>
                        {{ form.description }}
                        {% if form.description.errors %}
                            <div class="text-red-500 text-sm">{{ form.description.errors|translate_error }}</div>
                        {% endif %}
                    </div>

                    <div class="flex flex-col sm:flex-row gap-x-3">
                        <div class="mb-1">
                            <label for="{{ form.noti_time.id_for_label }}"
                                   class="text-sm font-medium">เวลาที่จะแจ้งเตอน</label>
                            <br/>
                            {{ form.noti_time }}
                            {% if form.noti_time.errors %}
                                <div class="text-red-500 text-sm">{{ form.noti_time.errors|translate_error }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-1">
                            <label for="{{ form.routine.id_for_label }}" class="text-sm font-medium">การทำซ้ำ</label>
                            <br/>
                            {{ form.routine }}
                            {% if form.routine.errors %}
                                <div class="text-red-500 text-sm">{{ form.routine.errors|translate_error }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="{{ form.family.id_for_label }}" class="text-sm font-medium">กลุ่ม
                            (ไม่บังคับ)</label>
                        <p class="text-xs font-bold">{{ form.family.help_text }}</p>
                        {{ form.family }}
                        {% if form.family.errors %}
                            <div class="text-red-500 text-sm">{{ form.family.errors|translate_error }}</div>
                        {% endif %}
                    </div>

                    <div class="flex justify-end space-x-4">
                        <button type="button" onclick="closeEventModal()"
                                class="text-white bg-gray-500 px-4 py-2 rounded hover:bg-gray-600 active:bg-gray-800">
                            ยกเลิก
                        </button>
                        <button type="submit"
                                class="bg-brown-600 hover:bg-brown-700 active:bg-brown-800 text-white px-4 py-2 rounded">
                            บันทึก
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function textColorBasedOnBackground(backgroundColor) {
            const r = parseInt(backgroundColor.substring(0, 2), 16); // 0 ~ 255
            const g = parseInt(backgroundColor.substring(2, 4), 16);
            const b = parseInt(backgroundColor.substring(4, 6), 16);

            const srgb = [r / 255, g / 255, b / 255];
            const x = srgb.map((i) => {
                if (i <= 0.04045) {
                    return i / 12.92;
                } else {
                    return Math.pow((i + 0.055) / 1.055, 2.4);
                }
            });

            const L = 0.2126 * x[0] + 0.7152 * x[1] + 0.0722 * x[2];
            return L > 0.179 ? "#000" : "#fff";
        }

        const monthYearElement = document.getElementById('monthYear')
        const calendarDaysElement = document.getElementById('calendar-days')
        const prevMonthBtn = document.getElementById('prevMonthBtn')
        const nextMonthBtn = document.getElementById('nextMonthBtn')
        const todayBtn = document.getElementById('todayBtn')
        const eventDetails = document.getElementById('eventDetails')
        const selectedDateElement = document.getElementById('selectedDate')
        const eventTableBody = document.getElementById('eventTableBody')
        const addEventModalBtn = document.getElementById('addEventModalBtn')
        const addEventModalBtn2 = document.getElementById('addEventModalBtn2')
        const notiDateInput = document.getElementById('notiDateInput')

        // Open modal to add event
        addEventModalBtn.addEventListener('click', () => {
            const selectedDate = selectedDateElement.innerText
            document.getElementById('selectedModalDate').innerText = selectedDate
            notiDateInput.value = selectedDate

            document.getElementById('eventModal').classList.toggle('hidden')
            setTimeout(() => {
                document.getElementById('eventModalContent').classList.toggle('-translate-y-full')
                document.getElementById('eventModalContent').classList.toggle('opacity-0')
            }, 100)
        })

        addEventModalBtn2.addEventListener('click', () => {
            const selectedDate = selectedDateElement.innerText
            document.getElementById('selectedModalDate').innerText = selectedDate
            notiDateInput.value = selectedDate

            document.getElementById('eventModal').classList.toggle('hidden')
            setTimeout(() => {
                document.getElementById('eventModalContent').classList.toggle('-translate-y-full')
                document.getElementById('eventModalContent').classList.toggle('opacity-0')
            }, 100)
        })

        // Close modal
        function closeEventModal() {
            document.getElementById('eventModalContent').classList.toggle('-translate-y-full')
            document.getElementById('eventModalContent').classList.toggle('opacity-0')
            setTimeout(() => document.getElementById('eventModal').classList.toggle('hidden'), 300) // Hide the modal
        }

        let currentDate = new Date()

        async function renderCalendar() {
            calendarDaysElement.innerHTML = ''
            const year = currentDate.getFullYear()
            const month = currentDate.getMonth()
            const response = await fetch(`{{ base_url }}/api/events/user/${year}/${month + 1}/count/`).then((response) => response.json())
            const monthYearString = currentDate.toLocaleDateString('th-TH', {
                year: 'numeric',
                month: 'long'
            });
            monthYearElement.innerText = monthYearString
            const firstDayOfMonth = new Date(year, month, 1).getDay()
            const lastDateOfMonth = new Date(year, month + 1, 0).getDate()
            const today = new Date()
            const lastDatePrevMonth = new Date(year, month, 0).getDate()

            // Fill previous month's days
            for (let i = 0; i < firstDayOfMonth; i++) {
                const prevMonthDate = lastDatePrevMonth - firstDayOfMonth + i + 1
                const dateDiv = document.createElement('div')
                dateDiv.classList.add('bg-brown-100', 'text-brown-400', 'border', 'border-brown-200', 'p-2', 'rounded', 'shadow-sm', 'text-center', 'cursor-not-allowed')
                dateDiv.innerText = prevMonthDate
                calendarDaysElement.appendChild(dateDiv)
            }

            const days_event = response.map((e) => {
                return e.noti_date__day
            })
            // Fill current month's days
            for (let date = 1; date <= lastDateOfMonth; date++) {
                const selectedDate = new Date(year, month, date)
                const dateDiv = document.createElement('div')
                dateDiv.classList.add('bg-white', 'text-brown-950', 'border', 'border-gray-50', 'p-2', 'rounded', 'shadow-sm', 'text-center', 'cursor-pointer', 'relative')
                dateDiv.innerText = date

                // Highlight today's date and fetch events
                if (date === today.getDate() && month === today.getMonth() && year === today.getFullYear()) {
                    dateDiv.classList.add('bg-brown-700', 'text-white')
                    dateDiv.classList.remove('bg-white', 'text-brown-950', 'border')
                    fetchAndDisplayEvents(today.toLocaleDateString('en-CA'))
                } else if (selectedDate.getTime() < today.getTime()) {
                    dateDiv.classList.add('bg-gray-100', 'opacity-80')
                    dateDiv.classList.remove('bg-white')
                }


                // Add click event to fetch and display events for the selected date
                dateDiv.addEventListener('click', () => {
                    const selectedDate = new Date(year, month, date).toLocaleDateString('en-CA')
                    selectedDateElement.innerText = selectedDate

                    if (addEventModalBtn.classList.contains('hidden')) {
                        addEventModalBtn.classList.remove('hidden')
                    }
                    if (addEventModalBtn.classList.contains('sm:block')) {
                        addEventModalBtn.classList.remove('sm:block')
                    }
                    if (addEventModalBtn2.classList.contains('sm:hidden')) {
                        addEventModalBtn2.classList.remove('sm:hidden')
                    }
                    if (addEventModalBtn2.classList.contains('block')) {
                        addEventModalBtn2.classList.remove('block')
                    }
                    if (!(year >= today.getFullYear() && month >= today.getMonth() && date >= today.getDate())) {
                        addEventModalBtn.classList.add('hidden')
                        addEventModalBtn2.classList.add('hidden')
                    } else {
                        addEventModalBtn.classList.remove('hidden')
                        addEventModalBtn2.classList.remove('hidden')

                        addEventModalBtn.classList.add('hidden', 'sm:block')
                        addEventModalBtn2.classList.add('sm:hidden', 'block')
                    }

                    fetchAndDisplayEvents(selectedDate)
                })

                // Add notification light
                if (days_event.includes(date)) {
                    let noti_light = document.createElement('div')
                    let noti_light2 = document.createElement('div')

                    if (selectedDate.getTime() > today.getTime()) {
                        noti_light.classList.add('absolute', 'size-4', 'bg-sky-700', 'dark:bg-sky-500', '-top-1', '-right-1', 'rounded-full', 'animate-ping', 'z-10')
                        noti_light2.classList.add('absolute', 'size-4', 'bg-sky-700', 'dark:bg-sky-500', '-top-1', '-right-1', 'rounded-full', 'z-10')
                    } else if (year == today.getFullYear() && month == today.getMonth() && date == today.getDate()) {
                        noti_light.classList.add('absolute', 'size-4', 'bg-red-300', '-top-1', '-right-1', 'rounded-full', 'animate-ping', 'z-10')
                        noti_light2.classList.add('absolute', 'size-4', 'bg-red-300', '-top-1', '-right-1', 'rounded-full', 'z-10')
                    } else {
                        noti_light2.classList.add('absolute', 'size-4', 'bg-gray-500', '-top-1', '-right-1', 'rounded-full', 'z-10')
                    }

                    dateDiv.append(noti_light, noti_light2)
                    days_event.shift()
                }

                calendarDaysElement.appendChild(dateDiv)
            }

            const remainingDays = 42 - firstDayOfMonth - lastDateOfMonth
            // Fill remaining days
            for (let i = 1; i <= remainingDays; i++) {
                const dateDiv = document.createElement('div')
                dateDiv.classList.add('bg-brown-100', 'text-brown-400', 'p-2', 'rounded', 'shadow', 'text-center', 'cursor-not-allowed')
                dateDiv.innerText = i
                calendarDaysElement.appendChild(dateDiv)
            }
        }

        function fetchAndDisplayEvents(selectedDate) {
            selectedDateElement.innerText = selectedDate
            const year = Number(selectedDate.substring(0, 4))
            const month = Number(selectedDate.substring(5, 7))
            const day = Number(selectedDate.substring(8, 10))
            fetch(`{{ base_url }}/api/events/user/${year}/${month}/${day}/`, {
                method: 'GET'
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('No events found')
                    }
                    return response.json()
                })
                .then((data) => {
                    eventTableBody.innerHTML = '' // Clear previous event data

                    if (data.length > 0) {
                        // Populate table with new events
                        data.forEach((event) => {
                            const [year, month, day] = event.noti_date.split('-')
                            const [hour, minute, second] = event.noti_time.split(':')
                            const currentDateEvent = new Date(year, Number(month) - 1, day, hour, minute, second)
                            const today = new Date()

                            let row = document.createElement('tr')
                            row.classList.add('bg-brown-100', 'border-b', 'border-b-gray-100', 'dark:bg-brown-950', 'dark:border-b-brown-800')
                            row.innerHTML = `
                                                                              <td class="px-4 py-2">${hour}:${minute}</td>
                                                                              <td id="event-name-${event.id}" class="px-4 py-2">${event.name}</td>
                                                                              <td class="px-4 py-2">${event.description}</td>
                                                                          `
                            if (event.display_family != null) {
                                let text_color = textColorBasedOnBackground(event.display_family.color)
                                let row2 = document.createElement("td")
                                let div2 = document.createElement("div")
                                let div3 = document.createElement("div")

                                row2.classList.add("px-4", "py-2")
                                div2.classList.add("flex", "flex-col", "md:flex-row", "items-center", "md:space-x-2")
                                div2.innerHTML = `<span class='m-0'>${event.display_user.first_name} ${event.display_user.last_name}</span>`
                                div3.classList.add("text-gray-700", "rounded-full", "text-sm", "font-semibold", "size-6", "dark:text-white")
                                div3.style.backgroundColor = "#" + event.display_family.color
                                div3.style.color = text_color
                                div3.innerHTML = `<p class='text-center'>${event.display_family.name.substring(0, 2).toUpperCase()}</p>`

                                div2.append(div3)
                                row2.append(div2)
                                row.append(row2)
                            } else {
                                row.innerHTML +=
                                    `
                <td class="px-4 py-2 text-center md:text-left">
                  ${event.display_user.first_name} 
                  ${event.display_user.last_name}
                </td>
                `
                            }
                            row.innerHTML += `<td class="px-4 py-2"><button onclick="confirmDelete(${event.id})" class="bg-red-600 hover:bg-red-800 active:bg-red-900 text-white px-3 py-1 rounded">ลบ</button></td>`
                            row.innerHTML += `<td class="px-4 py-2"><button onclick="speech('${event.id}')" id="speak-btn-${event.id}" class="py-1 rounded">
                <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                  width="40px" height="40px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                <g>
                  <path  class="fill-[#824e4e] dark:fill-[#fff]" d="M59.998,28.001h-7.999c-2.211,0-4,1.789-4,4s1.789,4,4,4h7.999c2.211,0,4-1.789,4-4
                    S62.209,28.001,59.998,28.001z"/>
                  <path  class="fill-[#824e4e] dark:fill-[#fff]" d="M49.71,19.466l6.929-4c1.914-1.105,2.57-3.551,1.461-5.465c-1.102-1.914-3.547-2.57-5.46-1.465l-6.93,4
                    c-1.914,1.105-2.57,3.551-1.461,5.464C45.351,19.915,47.796,20.571,49.71,19.466z"/>
                  <path  class="fill-[#824e4e] dark:fill-[#fff]" d="M56.639,48.535l-6.929-3.999c-1.914-1.105-4.355-0.449-5.461,1.464c-1.105,1.914-0.453,4.359,1.461,5.465
                    l6.93,4c1.913,1.105,4.358,0.449,5.464-1.465S58.553,49.641,56.639,48.535z"/>
                  <path  class="fill-[#824e4e] dark:fill-[#fff]" d="M37.53,0.307c-1.492-0.625-3.211-0.277-4.359,0.867L18.343,16.001H4c-2.211,0-4,1.789-4,4v24
                    C0,46.211,1.789,48,4,48h14.343l14.828,14.828C33.937,63.594,34.96,64,35.999,64c0.516,0,1.035-0.098,1.531-0.305
                    c1.496-0.617,2.469-2.078,2.469-3.695V4.001C39.999,2.384,39.026,0.924,37.53,0.307z"/>
                </g>
                </svg></button>
                <audio hidden id="audio-${event.id}" controls></audio></td>`
                            if (today.getTime() > currentDateEvent.getTime()) {
                                row.classList.add('opacity-30')
                            }
                            eventTableBody.appendChild(row)
                        })
                    } else {
                        // If no events, display a message
                        const noEventRow = document.createElement('tr')
                        noEventRow.classList.add('bg-white', 'border-b', 'dark:bg-brown-950', 'dark:border-b-brown-800')
                        noEventRow.innerHTML = `
                                                                          <td colspan="6" class="px-4 py-2 text-center">ไม่มีกิจกรรมในวันนี้</td>
                                                                      `
                        eventTableBody.appendChild(noEventRow)
                    }

                    // Show the event details section and the container
                    eventDetails.classList.remove('hidden')
                    document.getElementById('eventContainer').classList.remove('hidden')
                })
                .catch((error) => {
                    // Handle errors
                    eventTableBody.innerHTML = '' // Clear previous event data
                    const noEventRow = document.createElement('tr')
                    noEventRow.innerHTML = `
                                                                      <td colspan="3" class="px-4 py-2 text-center">Error: ${error.message}</td>
                                                                  `
                    eventTableBody.appendChild(noEventRow)
                    eventDetails.classList.remove('hidden')
                    document.getElementById('eventContainer').classList.remove('hidden')
                })
        }

        prevMonthBtn.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() - 1)
            renderCalendar()
        })

        nextMonthBtn.addEventListener('click', () => {
            currentDate.setMonth(currentDate.getMonth() + 1)
            renderCalendar()
        })

        todayBtn.addEventListener('click', () => {
            currentDate = new Date() // Set current date
            renderCalendar() // Render the calendar for the current date
            fetchAndDisplayEvents(currentDate.toLocaleDateString('en-CA')) // Fetch events for today's date
        })

        renderCalendar()
    </script>

    <script>
        function add_event() {
            let data = {
                user: '{{ user.id }}',
                name: document.getElementById('{{form.name.id_for_label}}').value,
                noti_date: document.getElementById('notiDateInput').value,
                noti_time: document.getElementById('{{form.noti_time.id_for_label}}').value,
                description: document.getElementById('{{form.description.id_for_label}}').value,
                family: document.getElementById('{{form.family.id_for_label}}').value,
                routine: document.getElementById('{{form.routine.id_for_label}}').value
            }
            fetch("{{ base_url }}{% url 'event_list' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(data)
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('ไม่สามารถเพิ่มกิจกรรมในอดีตได้')
                    }
                    show_alert('เพิ่มกิจกรรมสำเร็จ')
                    closeEventModal()
                    fetchAndDisplayEvents(document.getElementById('selectedDate').innerText)
                })
                .catch((error) => {
                    show_error(error)
                })
        }

        function confirmDelete(eventID) {
            if (confirm('คุณแน่ใจหรือว่าต้องการลบกิจกรรมนี้?')) {
                // ส่งคำขอลบไปยังเซิร์ฟเวอร์
                fetch(`{{ base_url }}/api/events/${eventID}/`, {
                    method: "DELETE", // ใช้ DELETE method
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": '{{csrf_token}}', // ส่ง CSRF token
                    },
                })
                    .then((response) => {
                        if (response.ok) {
                            return // แปลงเป็น JSON
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then((data) => {
                        // แสดงข้อความแจ้งเตือนการลบสำเร็จพร้อมชื่อของครอบครัว
                        show_alert('ลบกิจกรรมสำเร็จ');
                        setTimeout(() => fetchAndDisplayEvents(document.getElementById('selectedDate').innerText), 300) // รีโหลดข้อมูล Family
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                        show_error('ลบกิจกรรมไม่สำเร็จ'); // แสดงข้อความหากเกิดข้อผิดพลาด
                    });
            }
        }

        function speech(id) {
            const apiKey = "{{ google_tts_api_key }}";
            const text = document.getElementById('event-name-' + id).innerText

            const url = `https://texttospeech.googleapis.com/v1/text:synthesize?key=${apiKey}`;

            const data = {
                input: {
                    text: text
                },
                voice: {
                    languageCode: 'th-TH', // Thai language code
                    ssmlGender: 'NEUTRAL'  // Choose between 'MALE', 'FEMALE', or 'NEUTRAL'
                },
                audioConfig: {
                    audioEncoding: 'MP3'  // You can also use 'OGG_OPUS' or 'LINEAR16'
                }
            };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    const audioContent = data.audioContent;
                    const audio = document.getElementById('audio-' + id);
                    audio.src = `data:audio/mp3;base64,${audioContent}`;
                    audio.play();
                })
        }
    </script>

{% endblock %}
