{% extends 'base.html' %}

{% block title %}Family{% endblock %}

{% block content %}
<style>
  /* Customize input type="text" */
  input[type="color"] {
      opacity: 0;
      cursor: pointer; 
  }
</style>

<div class="m-3 dark:bg-black2 sm:px-6 sm:py-4 md:px-12 md:py-8 my-12 container mx-auto shadow-lg rounded-lg border dark:border-gray2">
  <div class="container mx-auto p-4 flex flex-col">
    <!-- Header -->
    <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold dark:text-brown-50">กลุ่ม (<span id="CountFamily">{{ user_families|length }}</span>) </h1>
      <div class="flex place-items-center gap-x-4 font-bold">
        <button id="openCreateModal" class="bg-brown-700 hover:bg-brown-800 active:bg-brown-900 px-5 py-2 rounded-lg text-white">สร้าง</button>
        <button id="openJoinModal" class="text-brown-700 px-5 py-2 rounded-lg bg-gray-50 hover:bg-gray-100 active:bg-gray-200">เข้ากลุ่ม</button>
      </div>
    </div>

    <!-- Grid Layout for Family Cards -->
    <div id="family_layout" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-12">
      <!-- Loop through the user_families from the context -->
      {% for family in user_families %}
        <div class="flex flex-col p-4 bg-brown-50 border-brown-200 dark:bg-brown-950 rounded-lg shadow-md border dark:border-brown-900/60">
          <div class="relative">
            <div class="flex justify-between items-center mb-2">
              <h2 class="text-lg font-bold dark:text-brown-50">{{ family.name }}</h2>
              <div class="absolute right-0">
                <button onclick="copyToken('token{{ family.id }}')" class="text-sm text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-800 px-3 py-2 rounded-lg font-bold">
                  คัดลอกรหัส
                </button>
              </div>
            </div>
            <p class="mb-4 text-sm dark:text-brown-100">รหัสเข้ากลุ่ม: <code id="token{{ family.id }}" class="font-mono p-1 rounded-lg bg-brown-200 dark:bg-brown-900 font-bold">{{ family.token }}</code></p>
          </div>

          <div class="relative overflow-x-auto shadow-sm sm:rounded-lg border border-brown-200 dark:border-brown-900">
            <table class="w-full text-sm font-light text-left rtl:text-right">
              <thead class="font-bold bg-brown-800 text-white">
                <tr>
                  <th class="px-4 py-2 text-center">#</th>
                  <th class="px-4 py-2"> ชื่อสมาชิก</th>
                  <th class="px-4 py-2 text-center">วันเกิด</th>
                </tr>
              </thead>
              <tbody id="generateFamily_{{family.id}}">
                <!-- Generate by JavaScript -->
              </tbody>
            </table>
          </div>

          <!-- Action Buttons for Edit and Delete -->
          <div class="self-end mt-auto ">
            <div class="mt-4 flex space-x-3">
              <button class="bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 text-white px-4 py-2 rounded-lg font-bold" data-family-id="{{ family.id }}" onclick="openEditModal('{{ family.id }}', '{{ family.name }}', '{{ family.users.all|safe }}')">
                แก้ไข
              </button>
              <button class="bg-red-500 hover:bg-red-700 active:bg-red-900 text-white px-4 py-2 rounded-lg font-bold" onclick="confirmDelete('{{ family.id }}', '{{ family.name }}', '{{ csrf_token }}')">
                ลบ
              </button>
            </div>
          </div>

        </div>

      {% empty %}
        <p class="text-center text-gray-500">คุณยังไม่ได้ร่วมกลุ่ม ใด ๆ.</p>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Create Family Modal -->
<div id="familyModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-10">
  <div id="familyModalContent" class="transition-all -translate-y-full opacity-0 duration-500 bg-white rounded-lg shadow-lg p-6 w-96">
      <h2 class="text-lg text-brown-800 font-bold mb-4">สร้างกลุ่ม</h2>
      <form id="eventForm" class="text-black" onsubmit="event.preventDefault(); createFamily(); this.reset();">
          {% csrf_token %}
          <div class="mb-4">
              <label for="familyName" class="block text-gray-700">ชื่อกลุ่ม:</label>
              <input type="text" id="familyName" name="familyName" required class="mt-1 block w-full border border-brown-700 rounded-md p-2 focus:outline-none focus:ring focus:ring-brown-500">
              
              <div class="mt-1 flex justify-start">
                <label for="familyName" class="block text-gray-700 mr-2">เลือกสีกลุ่ม:</label>
                <div class="rounded-full w-6 h-6 bg-brown-800" id="color-picker-container" >
                  <input type="color" id="colorInput">
                </div>
              </div>
              
            </div>
          <div class="flex justify-end">
              <button type="button" onclick="closeModal()" class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mr-2">ยกเลิก</button>
              <button type="submit" class="bg-brown-600 text-white font-bold py-2 px-4 rounded">สร้าง</button>
          </div>
      </form>
  </div>
</div>

<!-- Join Family Modal -->
<div id="joinModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-10">
  <div id="joinModalContent" class="transition-all -translate-y-full opacity-0 duration-500 bg-white rounded-lg shadow-lg p-6 w-96">
      <h2 class="text-lg text-brown-800 font-bold mb-4">Join Family</h2>
      <form id="joinForm" class="text-black" onsubmit="event.preventDefault(); joinFamily(); this.reset();">
          <div class="mb-4">
              <label for="familyToken" class="block text-gray-700">รหัสเข้ากลุ่ม:</label>
              <input type="text" id="familyToken" class="mt-1 block w-full border border-brown-700 rounded-md p-2 focus:outline-none focus:ring focus:ring-brown-500" placeholder="ใส่รหัสเข้ากลุ่ม" required>
          </div>
          <div class="flex justify-end">
              <button onclick="closeJoinModal()" type="button" class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded mr-2">ยกเลิก</button>
              <button type="submit" class="bg-brown-600 text-white font-bold py-2 px-4 rounded">เข้ากลุ่ม</button>
          </div>
      </form>
    </div>
</div>

<!-- Edit Family Modal -->
<div id="editModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden z-10">
  <div id="editModalContent" class="transition-all -translate-y-full opacity-0 duration-500 bg-white rounded-lg shadow-lg p-6 w-full max-w-3xl">
    <h2 class="text-lg text-brown-800 font-bold mb-4">ข้อมูลกลุ่ม</h2>
    <form id="editFamilyForm" class="flex flex-col gap-4 text-black" onsubmit="event.preventDefault();">
      {% csrf_token %}
      <div>
        <label for="editFamilyName" class="block text-gray-700">ชื่อกลุ่ม</label>
        <input type="text" id="editFamilyName" name="editFamilyName" required class="mt-1 block w-full border border-brown-700 rounded-md p-2 focus:outline-none focus:ring focus:ring-brown-500">
      </div>
      <div class="relative overflow-x-auto shadow-sm sm:rounded-lg border border-brown-200 dark:border-brown-900">
        <table class="w-full text-sm font-light text-left rtl:text-right">
          <thead class="font-bold bg-brown-400 text-white">
            <tr>
              <th class="px-4 py-2">#</th>
              <th class="px-4 py-2">ชื่อ</th>
              <th class="px-4 py-2">วันเกิด</th>
            </tr>
          </thead>
          <tbody id="editMembersTable">
            <!-- Dynamic member rows will be injected here -->
          </tbody>
        </table>
      </div>
      
      <!-- Action Buttons for Cancel and Save -->
      <div class="self-end mt-auto">
        <div class="mt-4 flex space-x-3">
          <button type="button" onclick="closeEditModal()" id="closeModal" class="text-white bg-gray-500 px-4 py-2 rounded hover:bg-gray-600 active:bg-gray-800">ยกเลิก</button>
          <button type="submit" id="editSubmitEdit" class="bg-brown-600 hover:bg-brown-700 active:bg-brown-800 text-white px-4 py-2 rounded">บันทึก</button>
        </div>
      </div>

    </form>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  // Get the color input and container
  const colorInput = document.getElementById('colorInput');
  const colorPickerContainer = document.getElementById('color-picker-container');

  // Update the background color of the container when the input value changes
  colorInput.addEventListener('input', function() {
      colorPickerContainer.style.backgroundColor = colorInput.value;
  });
</script>

<script>

  // Open modal Create Family
  document.getElementById('openCreateModal').addEventListener('click', function() {
      document.getElementById('familyModal').classList.toggle('hidden');
      setTimeout(()=>{
        document.getElementById('familyModalContent').classList.toggle("opacity-0")
        document.getElementById('familyModalContent').classList.toggle("-translate-y-full")
      }, 200)
  });

  // Close modal Create Family
  function closeModal(){
    document.getElementById('familyModalContent').classList.toggle("opacity-0")
    document.getElementById('familyModalContent').classList.toggle("-translate-y-full")
    setTimeout(()=>document.getElementById('familyModal').classList.toggle('hidden'), 300)
  }

  // Open modal Join Family
  document.getElementById('openJoinModal').addEventListener('click', function() {
    document.getElementById('joinModal').classList.toggle('hidden');
    setTimeout(()=>{
      document.getElementById('joinModalContent').classList.toggle("opacity-0")
      document.getElementById('joinModalContent').classList.toggle("-translate-y-full")
    }, 200)
  });

  // Close modal Join Family
  function closeJoinModal(){
    document.getElementById('joinModalContent').classList.toggle("opacity-0")
    document.getElementById('joinModalContent').classList.toggle("-translate-y-full")
    setTimeout(()=>document.getElementById('joinModal').classList.toggle('hidden'), 300)
  }

  function openEditModal(familyId, familyName) {
    const editModal = document.getElementById('editModal')
    const editModalContent = document.getElementById('editModalContent')
    // console.log('Family ID:', familyId);
    // console.log('Family Name:', familyName);
    // console.log('Members JSON:', membersJson);
    // const members = JSON.parse(membersJson); // แปลง JSON string เป็น JavaScript object
    
    editModal.classList.toggle('hidden'); // Show the modal
    setTimeout(()=>{
      editModalContent.classList.toggle("opacity-0")
      editModalContent.classList.toggle("-translate-y-full")
    }, 200)
    const familyNameInput = document.getElementById('editFamilyName');
    familyNameInput.value = familyName; // Set the family name

    const membersTable = document.getElementById('editMembersTable');
    membersTable.innerHTML = ''; // Clear existing rows

    const editSubmitEdit = document.getElementById('editSubmitEdit')
    editSubmitEdit.addEventListener("click", ()=>{
      saveFamily(familyId)
    })

    // สร้างแถวสำหรับสมาชิกแต่ละคนในตาราง

    fetch(`{{ base_url }}/api/family/${familyId}/`, {
      method: 'GET'
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('No events found')
        }
        return response.json()
      })
      .then((data) => {
        for(let i=0;i<data.display_users.length;i++){
          const memberRow = document.createElement('tr');
          memberRow.classList.add("bg-white", "border-b", "border-brown-300")
          memberRow.innerHTML = 
          `
            <td class="px-4 py-2 dark:text-brown-950">${i + 1}</td>
            <td class="px-4 py-2 dark:text-brown-950">${data.display_users[i].first_name} ${data.display_users[i].last_name}</td>
            <td class="px-4 py-2 dark:text-brown-950">${data.display_users[i].birth_date}</td>
          `
          membersTable.appendChild(memberRow);
        }
      })
      .catch((error)=>{
        console.log(error)
      })
  } 

  // Close the Edit Modal
  function closeEditModal() {
    const editModal = document.getElementById('editModal')
    const editModalContent = document.getElementById('editModalContent')

    editModalContent.classList.add("opacity-0")
    editModalContent.classList.add("-translate-y-full")

    setTimeout(()=>editModal.classList.add('hidden'), 300)
  }

  function editColor(getColor, getContainer){
    getContainer.style.backgroundColor = getColor.value;
    
  }

  function submitColor(getColor, getID){
    fetch(`{{ base_url }}/api/family/${getID}/`, {
      method: 'PATCH', 
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
    },
    body: JSON.stringify({ "color":getColor.value.substring(1, 7)})
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('หากิจกรรมไม่เจอ')
        }
        show_alert(`เปลี่ยนสีสำเร็จ`);
        return response
      })
      .catch((error)=>{
        console.log(error)
      })
  }

  function saveFamily(getID){
    const name = document.getElementById('editFamilyName').value;
    fetch(`{{ base_url }}/api/family/${getID}/`, {
      method: 'PATCH', 
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
    },
    body: JSON.stringify({ name })
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('หากิจกรรมไม่เจอ')
        }
        show_alert(`เปลี่ยนชื่อกลุ่มสำเร็จ !`);
        getFamily()
        closeEditModal()
        return response
      })
      .catch((error)=>{
        console.log(error)
      })
  }


  function getFamily(){
    const family_layout = document.getElementById("family_layout")
    family_layout.innerHTML = ``
    fetch(`{{ base_url }}{% url 'family_list' %}`, {
      method: 'GET'
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('หากิจกรรมไม่เจอ')
        }
        return response.json()
      })
      .then((data) => {
        let i=0
        for(;i<data.length;i++){
          // Generate Family table
          let div_family = document.createElement("div")
          div_family.classList.add("flex", "flex-col", "p-4", "bg-brown-50", "border-brown-200", "dark:bg-brown-950", "rounded-lg", "shadow-md", "border", "dark:border-brown-900/60")
          div_family.innerHTML = 
          `
            <div class="relative">

              <div class="flex justify-between items-center mb-2">
                <div class="flex items-center space-x-2">
                    <div class="inline-block rounded-full w-6 h-6" style="background-color: #${data[i].color};" id="color-picker-${data[i].id}">
                        <input type="color" class="w-6 h-6 opacity-0" onblur="submitColor(this, ${data[i].id})" oninput="editColor(this, document.getElementById('color-picker-${data[i].id}'))" value="#${data[i].color}">
                    </div>
                    <h2 class="text-lg font-bold dark:text-brown-50">${data[i].name}</h2>
                </div>

                <div class="absolute right-0">
                  <button onclick="copyToken('token${data[i].id}')" class="text-sm text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-800 px-3 py-2 rounded-lg font-bold">
                    คัดลอกรหัส
                  </button>
                </div>
              </div>
              <p class="mb-4 text-sm dark:text-brown-100">รหัสเข้ากลุ่ม: <code id="token${data[i].id}" class="font-mono p-1 rounded-lg bg-brown-200 dark:bg-brown-900 font-bold">${data[i].token}</code></p>
            </div>

            <div class="relative overflow-x-auto shadow-sm sm:rounded-lg border border-brown-200 dark:border-brown-900">
              <table class="w-full text-sm font-light text-left rtl:text-right">
                <thead class="font-bold bg-brown-400 text-white">
                  <tr>
                    <th class="px-4 py-2 text-center">#</th>
                    <th class="px-4 py-2">ชื่อสมาชิกกลุ่ม</th>
                    <th class="px-4 py-2 text-center">วันเกิด</th>
                  </tr>
                </thead>
                <tbody id="generateFamily_${data[i].id}">
                  <!-- Generate by JavaScript -->
                </tbody>
              </table>
            </div>

            <!-- Action Buttons for Edit and Delete -->
            <div class="self-end mt-auto ">
              <div class="mt-4 flex space-x-3">
                <button class="bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 text-white px-4 py-2 rounded-lg font-bold" data-family-id="${data[i].id}" onclick="openEditModal('${data[i].id}', '${data[i].name}')">
                  แก้ไข
                </button>
                <button class="bg-red-500 hover:bg-red-700 active:bg-red-900 text-white px-4 py-2 rounded-lg font-bold" onclick="removeMember({{ user.id }}, ${data[i].id})">
                  ออกจากกลุ่ม
                </button>
              </div>
            </div>
          `
          family_layout.append(div_family)

          // Generate Member
          let generateFamily = document.getElementById(`generateFamily_${data[i].id}`)
          generateFamily.innerHTML=``
          
          if (data[i].display_users.length == 0){
            generateFamily.innerHTML += 
            `<tr>
                <td class="px-4 py-2" colspan="3">ไม่มีสมาชิกกลุ่ม ณ ตอนนี้</td>
            </tr>`
          }else{
            let j=0
            for(;j<data[i].display_users.length && j<4;j++){
              generateFamily.innerHTML += 
              `
              <tr class="bg-white border-b border-brown-300">
                  <td class="px-4 py-2 dark:text-brown-950 text-center">${j+1}</td>
                  <td class="px-4 py-2 dark:text-brown-950">${data[i].display_users[j].first_name} ${data[i].display_users[j].last_name}</td>
                  <td class="px-4 py-2 dark:text-brown-950 text-center">${data[i].display_users[j].birth_date}</td>
              </tr>
              `
            }
            if (j>=4){
              generateFamily.innerHTML += 
              `
              <tr>
                  <td class="px-4 py-2" colspan="3">... and ${j-3} more</td>
              </tr>
              `
            }
          }
        }
      })
      .catch((error) => {
        console.log(error)
      })
  }

  function createFamily() {
    const familyName = document.getElementById('familyName').value;
    const colorInput = document.getElementById('colorInput').value;
    
    fetch(`{{ base_url }}{% url 'family_list' %}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}', // ส่ง CSRF token
        },
        body: JSON.stringify({ name: familyName, color: colorInput.substring(1, 7)})
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        return // แปลงเป็น JSON
    })
    .then(data => {
        // แสดงข้อความแจ้งเตือนการสร้างสำเร็จพร้อมชื่อของครอบครัว
        show_alert(`กลุ่ม "${familyName}" ได้สร้างเรียบร้อย!`);
        // สามารถรีเฟรชหน้าหรือเรียกข้อมูลใหม่ที่นี่
        document.getElementById('CountFamily').innerHTML = Number(document.getElementById('CountFamily').innerHTML) + 1
        closeModal()
        setTimeout(()=>getFamily(), 300)
    })
    .catch(error => {
        console.error('Error:', error);
        show_error('เกิดการผิดพลาดในการสร้างกลุ่ม.');
    });
}

function joinFamily() {
    const familyToken = document.getElementById('familyToken').value;

    fetch(`{{ base_url }}/api/join/${familyToken}/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}', // Send CSRF token
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok.');
      }
      return // Convert to JSON
    })
    .then(data => {
      // Show success alert for joining family
      show_alert(`เข้ากลุ่มสำเร็จ`);
      closeJoinModal()
      document.getElementById('CountFamily').innerHTML = Number(document.getElementById('CountFamily').innerHTML) + 1
      setTimeout(()=>getFamily(), 300)
    })
    .catch(error => {
      console.error('Error:', error);
      show_error('ไม่สามารถเข้าร่วมครอบครัวได้ กรุณาตรวจสอบโทเคนและลองอีกครั้ง.');
    });
  }

  function removeMember(userId, familyId) {
  if (confirm('Are you sure you want to remove this member?')) {
    fetch(`{{ base_url }}/api/member/${familyId}/${userId}/`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}',
      }
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok.');
        }
      })
      .then(data => {
        show_alert('ลบสมาชิกกลุ่มสำเร้จ!');
        closeEditModal()
        document.getElementById('CountFamily').innerHTML = Number(document.getElementById('CountFamily').innerHTML) - 1
        setTimeout(()=>getFamily(), 300)
      })
      .catch(error => {
        console.error('Error:', error);
        show_error('เกิดการผิดพลาดในลบสมาชิกกลุ่ม.');
      });
    }
  }

  function copyToken(tokenId) {
    const tokenElement = document.getElementById(tokenId);
    if (tokenElement) {
      navigator.clipboard.writeText(tokenElement.textContent).then(function() {
        show_alert('คัดลอกรหัส: ' + tokenElement.textContent);
      }).catch(function(err) {
        console.error('คัดลอกไม่สำเร็จ: ', err);
        show_error('คัดลอกรหัสไม่สำเร็จ.');
      });
    } else {
      show_error('ไม่มีรหัส');
    }
  }

  // Load function
  getFamily()
</script>
{% endblock %}
