{% extends 'base.html' %}
{% comment %} {% block navbar %}
  {% include 'navbar.html' %}
{% endblock %} {% endcomment %}
{% block content %}
  <div class="">
    <div class="m-3 px-12 py-8 my-12 flex items-center justify-center flex-col">
      <!-- Flex column for vertical stacking -->
      <h1 class="text-4xl font-bold text-center mb-8">ยินดีต้อนรับสู่ RemindMe</h1> <!-- Main heading above the cards -->

      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8">
        <!-- Responsive flex container -->
        <div class="transition-transform hover:scale-110 bg-brown-50 border-brown-300 dark:bg-brown-950 dark:border-brown-800 border p-8 rounded-lg shadow-xl max-w-md">
          <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Feature 1</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-brown-800 dark:text-brown-100">แอปพลิเคชันที่เชื่อถือได้สำหรับการเตือนความจำและการจัดระเบียบส่วนบุคคลที่เหมาะกับผู้สูงอายุ</p>
        </div>
        <div class="transition-transform hover:scale-110 bg-brown-50 border-brown-300 dark:bg-brown-950 p-8 dark:border-brown-800 border rounded-lg shadow-xl max-w-md">
          <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Feature 2</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-brown-800 dark:text-brown-100">มีการส้รางการแจ้งตือนเป็นกลุ่มๆ ได้เพื่อที่จะแชร์กิจกรรมต่างๆ</p>
        </div>
        <div class="transition-transform hover:scale-110 bg-brown-50 border-brown-300 dark:bg-brown-950 dark:border-brown-800 border p-8 rounded-lg shadow-xl max-w-md">
          <!-- Enhanced card styles -->
          <h2 class="text-3xl font-bold text-center">Feature 3</h2> <!-- Adjusted title -->
          <p class="text-center mt-4 text-brown-800 dark:text-brown-100">เป็นภาษาไทยง่ายต่อการใช้งานกับผู้สูงอายุ</p>
        </div>
      </div>
    </div>
{% endblock %}
