<li>
    <a href="{% url 'login' %}"
    <p class="block py-2 pl-3 pr-6 md:pr-3 pr-auto rounded-lg transition-colors duration-300 md:hover:bg-transparent md:dark:hover:bg-transparent text-start hover:opacity-50">
        เข้าสู่ระบบ</a>
</li>
<li class="m-0 transition-colors duration-300 rounded cursor-pointer">
    <a href="{% url 'register' %}"
    <p class="block py-2 pl-3 pr-6 md:pr-3 pr-auto rounded-lg transition-colors duration-300 md:hover:bg-transparent md:dark:hover:bg-transparent text-start hover:opacity-50">
        สร้างบัญชีใหม่</a>
</li>
